<body ng-controller="interestPageController">
<div class="container-fluid">
    <div class="span2 vertical-line-left">
        <br/>
        <p align="center">{{selectedInterest}}</p>
        <p align="left" class="mini-section-header">Categories:</p>
        <ul ng-repeat="userInterestPage in userInterestPages | unique:'subCategory' | filter: {category: selectedInterest}" >
            <li><span><a href="" >
                {{userInterestPage.subCategory}}</a></span>
            </li>
        </ul>

        <p align="left" class="mini-section-header">Apply Filter:</p>
        <ul ng-repeat="userInterestPage in userInterestPages | unique:'subCategory' | filter: {category: selectedInterest}" >
            <li><span><input id="{{userInterestPage.subCategory}}" type="checkbox" value="{{userInterestPage.subCategory}}" ng-checked="selection.indexOf(userInterestPage.subCategory) > -1" ng-click="toggleSelection(userInterestPage.subCategory)"><a href="" >
                {{userInterestPage.subCategory}}</a></span>
            </li>
        </ul>
        <p align="center"><button type="submit" class="btn btn-block btn-primary" ng-click="applyFilter()">Apply Filter</button></p>



    </div>
    <div class="newsfeed-header1">News Feed</div>
    <div class="newsfeed-body1">
        <div class="newsfeed-items" dir-paginate="newsFeedPostForInterest in newsFeedPostForInterests|unique: 'userPostId'|orderBy:'-updateDetails.createdTS'|filter:{category: selectedInterest}|itemsPerPage:5">

            <p><b>Posted Ad In {{newsFeedPostForInterest.category}} ({{newsFeedPostForInterest.sub_Category}}):</b>

            <p>{{newsFeedPostForInterest.description}}</p>
            <div id="slides_control">
                <carousel interval=3000>
                    <slide ng-repeat="newsFeedPostForInterestImages in newsFeedPostForInterest.userPostImage">
                        <div style="list-style: none">

                            <img style="width: 200px; height: 190px;" ng-src="data:image/*;base64,{{newsFeedPostForInterestImages.image}}">


                        </div>
                        <br/>
                    </slide>
                </carousel>
            </div>


            <p>{{newsFeedPostForInterest.image}}</p>

            <p>Created By {{newsFeedPostForInterest.updateDetails.createdBy}}, {{newsFeedPostForInterest.updateDetails.createdTS}}
        </div>
        <dir-pagination-controls style="float: right"
                                 max-size="50"
                                 direction-links="true"
                                 boundary-links="true">
        </dir-pagination-controls>

    </div>
    <div class="right-div-interest vertical-line-right-interest interest-right">
        <div class="span2 ">
            <br/>
            <p align="left" class="mini-section-header-interest">Members Of {{selectedInterest}}:</p>
            <p align="left" class="glyphicon glyphicon-user"><a href="" data-toggle="modal" data-target="#MembersModal" ng-click="membersList(selectedInterest)"> Members</a></p>
            <br/>
            <div class="iymk-header">Contests</div>
            <div class="iymk-body">Cooking</div>
        </div>
    </div>



        <div class="modal fade" id="MembersModal" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Members Of {{selectedInterest}}</h4>
                    </div>
                    <div class="modal-body">
                        <ul ng-repeat="userList in userLists | unique" >
                            <li><span><a href="" >
                                {{userList}}</a></span>
                            </li>
                        </ul>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>



</div>

</body>