<body ng-controller="forgotPwdController">
<div class="container-fluid">
    <div class="main-content1 content-height">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-sm-2"></div>
            <p class="col-sm-3">Please enter your Email Address: </p>
            <input type="text" class="form-control forgot-text " placeholder="Email" ng-model="emailID">
        </div>
        <br/>


        <p align="center">
            <button type="submit" class="btn btn-block btn-info forgot-button" ng-click="forgotClick()">Get Password
            </button>
        </p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>




        </form>
        <p>Your Password is: {{pwdData}}</p>

    </div>
</div>
</body>
